@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
}

body{
    font-family: 'Zen Dots';
}

li, .navButton, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: grey;
}

button {
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: 2px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Zen Dots";    
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    font-family: 'Rajdhani';
    padding: 40px;
}

.readingText {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rajdhani';
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.btn{
    margin-bottom: 15px;
    margin-top: 5px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
    font-size: clamp(3px, 3vw, 20px);
    cursor: pointer;
    background: transparent;
    border: 2px white solid;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.content {
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Zen Dots';
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .footerLinks {
        display: flex;
        flex-wrap: wrap;
    }
}

.songCover:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    font-family: 'Zen Dots';
    font-size: 30px;
    color: white;
}

.footerLinks a {
    text-decoration: none;
}

.footerLinks a:visited {
    color: white;
}

.playlistCover {
    height: 300px;
    width: 300px;
}

.playlistCover:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#ourVision {
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
    color: lightgray;
}

#testimony {
    text-align: left;
    font-style: italic;
}

.line {
    width:100%;
    background-color:white;
    height: 1px;
}


::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: rgb(92, 92, 92);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(33, 35, 31, 0.453);
    border-radius: 100vw;
}

.submitButton {
    border: 30px;
    border-color: white;
    display: flex;
    justify-content: center;
    border-radius: 0;
    font-family: "Zen Dots";
    font-size: 60px;
    margin-bottom: 30px;
}

.submitButton:hover {
    border-color: black;
    color: white;
}

.formQuestion {
    margin-top: 20px;
}

form {
    margin-top: 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    padding: 15px;
}

input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px; 
    border: 1px solid white;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 2px;
    border: 1px solid white;
}
